@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Comfortaa', sans-serif;
}

select, input, textarea {
    border: 1px solid violet;
    outline-color: green;
    border-radius: 4px;
}

.active {
    background-color: pink;
    border-color: hotpink;
}
